.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line:after, .line:before {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    margin: 0;
}

.title {
    text-transform: uppercase;
    text-align: center;
    flex: 0.2 0 auto;
    margin: 0;
}