.loginForm {
    display: flex;
    background: var(--white);
    padding: var(--gap-lg);
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    border-radius: 0.5rem;
}

@media (min-width: 450px) {
    .loginForm {
        max-width: 35rem;
    }
}
